name: docker

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: docker/setup-buildx-action@v3
      
      - name: Build API image
        run: docker build -f Dockerfile.api -t hc-tap-api:pr-$GITHUB_SHA .
        
      - name: Build Dash image
        run: docker build -f Dockerfile.dashboard -t hc-tap-dash:pr-$GITHUB_SHA .

